Flask>=0.12.2
Flask-Login>=0.4.1
Flask-WTF>=0.14
Flask-UrlDiscovery>=1.1
magen-rest-service>=1.3a6
magen-gmail-client>=0.1a4
magen-ingestion-service>=1.3a1
magen-user>=0.1a2
magen-utils>=1.2a3
magen-mongo>=1.1a0
magen-key-service>=1.9a6
pip>=9.0.1
docker>=3.1.1